;; Used to fetch jar files into ~/.m2
;; Only used when changing .jar dependencies, not for developing and building
;; Run: `clj -Stree` to fetch
;; Manually move these into libs/
;; If the above annoys you, go automate this:
;; `find com/cognitect/transit-cljs/0.8.256 | cpio -p -d ...`
;; `find com/cognitect/transit-js/0.8.846 | cpio -p -d ...`
{:deps
 {com.cognitect/transit-cljs {:mvn/version "0.8.256"}
  com.cognitect/transit-js {:mvn/version "0.8.846"}}}
